{#
/**
 * @file holiday_offer.html.twig
 * Default theme implementation to present Holiday offer data.
 *
 * This template is used when viewing Holiday offer pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_holiday_offer()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('holiday_offer') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
